:root{
  --footer-article-border: 1px solid #EBEBE3;
  --partition-link-article-color:#F8B763;
  --article-btn-bg-color:#3c3d41;
}

.content-block{
  padding-bottom: 30px;
}

.partition{
  text-transform: uppercase;
  padding: 20px 0 15px;
  font-size: 1.4rem;
  color:var(--partition-link-article-color);
}
.content-article-title{
  font-family: "Playfair display";
  font-size: 2.6rem;
  padding-bottom: 15px;
}
.article-text{
  padding-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.image-wrapper{
  max-width: 595px;
}
.article-img{
  width: 100%;
  height: 100%;
}
.article-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: var(--footer-article-border);
  border-bottom:var(--footer-article-border);
}
.article-btn{
  border: none;
  text-transform: uppercase;
  background-color: var(--article-btn-bg-color);
  font-size: 1rem;
  padding: 15px 40px 15px 10px;
  color: #fff;
  clip-path: polygon(0% 0%, 91% 0, 100% 50%, 91% 100%, 0% 100%);
}
.link{
  display: inline-block;
  text-decoration: none;
  border:1px solid var(--partition-link-article-color);
  padding: 5px;
  border-radius:50%;
}
.link+.link{
  margin-left: 10px;
}

.link>svg>path{
  fill: var(--partition-link-article-color);
}