.content{
  margin-top: 110px;
  padding-bottom: 30px;
}

.main-content{
  max-width: 595px;
  margin-right: 15px;
}
.content-inner{
  display: flex;
  justify-content: space-between;
  
}
.sidebar{
  width: 33%;
}