@font-face{
  font-family:"Open sans";
  src: url("../fonts/Open_sans/OpenSans-Regular.ttf");
}
@font-face{
  font-family: "Playfair display";
  src: url("../fonts/Playfair-display/PlayfairDisplay-VariableFont_wght.ttf");
}