:root{
  --text-color:#fff;
}
.footer{
  background-color:#3C3D41;
  margin-top: auto;

}
.footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.my-blog{
  color: var(--text-color);
  font-size: 1.4rem;
}
.social-list-item{
  display: inline-block;
}
.social-list-item+.social-list-item{
  margin-left:15px;
}
.social-link{
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.4rem;
}
.send-letter{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;
}
